<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar_vote.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
  <div class="container">
    <% if (cargos && cargos.length > cargoIndex) { %>
      <% if (cargos_conselher && cargos_conselher.length > 0 && cargos_conselher[0].candidatos) { %>
        <div class="container" id="votation_conselher" style="display: none;">
          <h2 class="text-center mt-2 mb-5 font-weight-bolder" style="font-size: 60px;">Votação Conselheiro Fiscal</h2>
          <small class="text-muted text-center mx-2 mb-5 font-weight-bolder text-capitalize" style="font-size: 20px;">Selecione os Candidatos para este cargo, Necessário selecionar exatamente <%= sessao.qtd_minima_vote %> Candidatos.</small>
          <div class="row justify-content-center">
            <% let candidateCount = 0; %>
            <% cargos_conselher[0].candidatos.forEach((candidato) => { %>
              <% if (candidateCount % 3 === 0) { %>
                </div>
                <div class="row justify-content-center">
              <% } %>
              <div class="col-md-4">
                <label for="confirm_candidate_conselher<%= candidato.id %>">
                    <div class="card candidate-list-item mx-2 my-2">
                      <div class="card-img-container">
                        <img class="card-img-top img-fluid" style="height: 333px;" src="data:image/jpeg;base64,<%= candidato.foto.toString('base64') %>" alt="Foto do candidato">
                      </div>
                    <div class="card-body text-center">                
                      <h5 class="card-title" style="font-size: 30px;"><%= candidato.nome %></h5>                      
                      <span id="sessao_id" hidden> <%= sessao.id %> </span>
                      <h4 class="card-title"><%= candidato.id %></h4>
                      <p class="card-text" style="font-size: 30px;">Chapa <%= candidato.numero %></p>
                      <div class="form-check form-switch" style="font-size: 4rem;">
                        <input type="hidden" name="cargo_name" value="<%= cargos[cargoIndex].nome %>">
                        <input class="form-check-input" type="checkbox" id="confirm_candidate_conselher<%= candidato.id %>">
                        <label class="form-check-label" for="confirm_candidate_conselher<%= candidato.id %>"></label>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
              <% candidateCount++; %>
            <% }) %>
          </div>

          <div class="modal fade bd-example-modal-xl" id="confirmVoteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmVoteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmVoteModalLabel">Confirme sua Votação</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="uncheck()"></button>
                </div>
                <div class="modal-body">
                  <div class="row" id="selectedCandidates">
                    <!-- Candidatos selecionados. -->
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger btn-lg text-center" style="font-size: 26px;" data-bs-dismiss="modal" onclick="uncheck()">Cancelar</button>
                  <button type="button" class="btn btn-success btn-lg text-center" style="font-size: 26px;" id="btnConfirmVoteModal" onclick="sendSelectedCandidates_Ajax()">Confirmar</button>
                </div>
              </div>
            </div>
          </div>


          

        </div>
      <% } %>
      
      <div class="container" id="normal_votation">
        <% if (!(cargos[cargoIndex].nome == 'Conselheiro Fiscal')) { %>
        <h2 class="text-center mt-2 mb-5 font-weight-bolder" style="font-size: 60px;">Votação <%= cargos[cargoIndex].nome %></h2>
        <% if (status) { %>        
          <div class="row justify-content-center">
            <% cargos[cargoIndex].candidatos.forEach((candidato) => { %>
              <div class="col-md-4">
                <div class="card candidate-list-item">
                  <div class="card-img-container">
                    <img class="card-img-top img-fluid" src="data:image/jpeg;base64,<%= candidato.foto.toString('base64') %>" alt="Foto do candidato">
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title" style="font-size: 40px;"><%= candidato.nome %></h5>
                    <p class="card-text" style="font-size: 40px;">Chapa <%= candidato.numero %></p>                  
                      <!-- Modal de confirmação por Candidato -->
                      <button type="button" id="votar_candidato" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirm_candidate<%=candidato.id%>">
                        Votar <%= candidato.nome %>
                      </button>
                  </div>
                </div>
              </div>

              <!-- modal de confirmação de candidato -->
              <!-- Modal -->
              <div class="modal fade" id="confirm_candidate<%=candidato.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirm_candidateLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header text-center">
                      <h5 class="modal-title" id="confirm_candidateLabel">Confirmar Votação para <%= candidato.nome %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                      <div class="card-img-container" >
                        <img class="card-img-top img-fluid" src="data:image/jpeg;base64,<%= candidato.foto.toString('base64') %>" alt="Foto do candidato">
                      </div>
                        <div class="modal-body">
                          <div class="card-body text-center">
                            <h4 class="font-monospace font-weight-bolder">Você tem certeza que quer votar no candidato abaixo?</h4>
                            <h5 class="card-title" style="font-size: 40px;"><%= candidato.nome %></h5>
                            <p class="card-text" style="font-size: 40px;">Chapa <%= candidato.numero %></p>
                            
                          </div>
                      </div>
                    <div class="modal-footer">
                      <button type="button" id="dismiss_modal" class="btn btn-secondary" style="font-size: 30px;" data-bs-dismiss="modal">Escolher outro</button>
                      <button type="submit" class="vote-button btn btn-primary position-relative" style="font-size: 30px;" data-cargo-id="<%= candidato.cargoId %>" data-sessao-id="<%= candidato.sessao.id %>" data-cargo-index="<%= cargoIndex %>" data-candidato-id="<%= candidato.id %>" data-bs-dismiss="modal">Confirmar</button>
                    </div>
                  </div>
                </div>
              </div>


            <% }) %>
            
          </div>
        <% } else { %>
          <h2>Cargo não encontrado</h2>
        <% } %>
        <% } %>
      </div>
    </div>


  <script>

    
    let isActiveConselher = false;
    var buttonVotarEscolha = document.getElementById('votar_candidato');
    
    try {      
      const qtd_cargos_conselher = <%= cargos_conselher.length %>;

      // var validation = cargos_conselher && cargos_conselher.length > 0 && cargos_conselher[0].candidatos;
      var validation = qtd_cargos_conselher > 0;
      if (validation){
        isActiveConselher = true;
      }
      console.log("verificando se tem votação de conselheiro", validation);
    }
    catch(erro) {
      console.log("Erro ao verificar", erro);
      isActiveConselher = false;
    }
    console.log("A votação está como: ", isActiveConselher);

    $(document).ready(function() {
      $('.vote-button').click(function() {        
        var cargoIndex = $(this).data('cargo-index');
        var cargoId = $(this).data('cargo-id');
        var candidatoId = $(this).data('candidato-id');
        var sessaoId = $(this).data('sessao-id');
        var qtd_cargos_ajax = <%= qtd_cargos %>;
        let contador_votos = 0;        
        var name_cargo = $(this).data('cargo-name');
        var conselheiro1 = $(this).data('cargo-conselheiero-1');
        var conselheiro2 = $(this).data('cargo-conselheiero-2');
        var conselheiro3 = $(this).data('cargo-conselheiero-3');
        const div_votation_conselher = document.getElementById('votation_conselher');
        const dismiss_confirm = document.getElementById("dismiss_modal");
        const div_votation_normal = document.getElementById("normal_votation");        

        // Fazer a chamada Ajax para registrar o voto
        $.ajax({
          url: '/vote/action',
          type: 'POST',
          data: { cargoIndex: cargoIndex, candidatoId: candidatoId, cargoId: cargoId, sessao_id: sessaoId},
          success: function() {
            // Verificar se há mais cargos para votação
            console.log("Cargo Index: " + cargoIndex + "Candidato ID e Cargo ID " + candidatoId + ' : ' + cargoId);
            console.log("qtd_cargos_ajax", qtd_cargos_ajax)

            if (cargoIndex + 1 < qtd_cargos_ajax) {
              // Redirecionar para a próxima página de votação
              buttonVotarEscolha.disabled = true;
              console.log("qtd_cargos_ajax", qtd_cargos_ajax + ' : Cargo index:  ' + cargoIndex)

              window.location.href = '/vote_init/' + (cargoIndex + 1);              
            }
            else if (cargoIndex == (qtd_cargos_ajax - 1) && isActiveConselher == true) {
              dismiss_confirm.click()
              console.log("Os valores de cargoIndex e qtd_cargos_ajax são iguais" + cargoIndex, qtd_cargos_ajax)
              console.log("Agora precisa começar a votação final do fiscal")              
              // window.location.href = '/vote_init/' + cargoIndex;
              div_votation_normal.style.display = 'none';
              div_votation_conselher.style.display = 'block';
              // window.location.href = '/end_votation';
            }
            else {
            // Todos os votos foram contabilizados, redirecionar para a página de resultado
              console.log("Os valores de cargoIndex e qtd_cargos_ajax são iguais" + cargoIndex, qtd_cargos_ajax)
              window.location.href = '/end_votation';
            }
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
    });
  </script>



<script>
  let qtd_selected = 0; // Declaração no escopo global
  let selectedCandidates = []; // Array dos candidatos selecionados.
  var cardDiv = ``;
  
  function removeCandidateFromModal(candidateId) {
    const selectedCandidateDiv = document.querySelector(`.selectedCandidates[data-id="${candidateId}"]`);
    if (selectedCandidateDiv) {
      selectedCandidateDiv.remove();
    }
  }

  function uncheck() {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach((checkbox) => {
      checkbox.checked = false;
    });

    qtd_selected = 0; // Zerar a contagem
    console.log("Desmcardo todos, qtd_selected =", qtd_selected);

    // Limpar a lista de candidatos selecionados.

    selectedCandidates.forEach(candidato => {                
      removeCandidateFromModal(candidato.id)
      console.log("Removando candidato da lista", candidato.nome);
    });

    selectedCandidates = [];
    console.log("Mostrando os selecionados após a limpeza", selectedCandidates.length)
                  
    // document.getElementById('selectedCandidates').innerHTML = '';

  }

  // Função de montagem de confirmação de tela de seleção.
  function confirmVote() {
  console.log("Candidatos selecionados:", selectedCandidates);

  // Aqui você pode realizar o que for necessário com os candidatos selecionados, como enviá-los para outra rota.

  // Fechar o modal após exibir os candidatos selecionados
  const confirm_vote_conselher = new bootstrap.Modal(document.getElementById('confirmVoteModal'));
  confirm_vote_conselher.hide();
}

  document.addEventListener("DOMContentLoaded", function () {
    const checkboxInputs = document.querySelectorAll('input[type="checkbox"]');
    const qtd_minima_vote = <%= sessao.qtd_minima_vote %>;
    const confirm_vote_conselher = new bootstrap.Modal(document.getElementById('confirmVoteModal'));

    checkboxInputs.forEach((checkbox) => {
      checkbox.addEventListener("change", function () {
        if (this.checked) {
          qtd_selected = qtd_selected + 1;
        } else {                    
          qtd_selected = qtd_selected - 1;
        }

        if (this.checked) {
          console.log("Alvo marcado, quantidade:", qtd_selected);
          const candidatoId = this.id.replace('confirm_candidate_conselher', '');
          const card = this.closest('.card'); // Encontra o card do candidato                    
          //const candidatoCargo = card.querySelector("[id=cargo_conselher]").innerText;
          const candidatoCargo = 99;
          const sessaoId = card.querySelector("[id=sessao_id]").innerText;
          const candidatoIdSelected = card.querySelector('h4').innerText;                    
          const candidatoImg = card.querySelector('img').src;
          const candidatoName = card.querySelector('h5').innerText;
          const candidatoChapa = card.querySelector('p').innerText;
          const candidato = {
            foto: candidatoImg,
            nome: candidatoName,
            chapa: candidatoChapa,
            id: candidatoIdSelected,
            cargoId: candidatoCargo,
            sessaoId: sessaoId,
          }
          selectedCandidates.push(candidato);

          // const candidato = {
          //   foto: document.querySelector(`img[alt="Foto do candidato"][src^="data:image/jpeg;base64"][src*="${candidatoId}"]`).src,
          //   nome: document.querySelector(`h5[style="font-size: 30px;"]`).innerText,
          //   chapa: document.querySelector(`p[style="font-size: 30px;"]`).innerText,
          // };
          //selectedCandidates.push(candidato);

          console.log("Candidato Adicionado na lista de selecionado: ");
          selectedCandidates.forEach(user => {
            console.log("Adicionado: ", user.nome, "ID: ", user.id, "Sessao: ", user.sessaoId, "CargoID: ", user.cargoId)                      
          });
          
        } else if (!this.checked) {
          console.log("Alvo desmarcado, quantidade:", qtd_selected);
        }

        if (qtd_selected == qtd_minima_vote) {
          console.log("Os candidatos selecioandos foram: ", selectedCandidates.forEach(candidato => { console.log("Candidato: ", candidato.nome, "ID: ", candidato.id)}));
          
          // Limpando a div antes de preencher ela novamente:
          document.getElementById("selectedCandidates").innerHTML = "";

          selectedCandidates.forEach((candidato) => {
            cardDiv = document.createElement("div");
            cardDiv.classList.add("col-md-4");
            cardDiv.dataset.id = candidato.id;
            const cardContent = `
            <div class="card candidate-list-item mx-2 my-2">
              <div class="card-img-container">
                <img class="card-img-top img-fluid" style="height: 333px;" src="${candidato.foto}" alt="Foto do candidato">
              </div>
              <div class="card-body text-center">
                <h4 class="card-title" hidden>${candidato.id}</h4>
                <h5 class="card-title" style="font-size: 30px;">${candidato.nome}</h5>
                <p class="card-text" style="font-size: 30px;">${candidato.chapa}</p>
              </div>
            </div>
            `;

            cardDiv.innerHTML = cardContent;
            document.getElementById("selectedCandidates").appendChild(cardDiv);

          })

          confirm_vote_conselher.show();
        }
      });
    });
  });

  function sendSelectedCandidates_aff() {
    const seletedCandidatesId = selectedCandidates.map(candidato => candidato.id);
    console.log("Selected candidates IDs:", seletedCandidatesId);

    fetch('/vote/action/conselher', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ selectedCandidates: seletedCandidatesId }),
    })
    .then(response => response.json())
    .then(data => {
      console.log("Server response:", data);
    })
    .catch(error => {
      console.log("Error:", error);
    });
  }

  function sendSelectedCandidates_Ajax() {
    const candidatos_escolhidos = [];

    selectedCandidates.forEach(candidato => {
      candidatos_escolhidos.push(candidato);                
    });

    $.ajax({
      url: '/vote/action/conselher',
      type: 'POST',
      data: { candidatos_escolhidos },
      success: function (data) {
        console.log("Essa é a resposta da rota: ", data);
        window.location.href = '/end_votation';
      },
      error: function(err) {
        console.log("Esse é o erro da rota", err)
      }
    })
  }
</script>

<% } else { %>
  <p>Não há cargos disponíveis para votação.</p>
<% } %>
</div>
</body>


<%- include ('../partials/footer.ejs') %>