<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>
  <div class="container label_font">
    <h1>Cargos Cadastrados</h1>
    
    <div class="container ">
      <table class="table striped mt-4">
        <thead>Cargos Existentes Personalizados
        <tr>
          <th>
            ID
          </th>
          <th>
            Nome
          </th>
          <th>
            Ação
          </th>
        </tr>
      </thead>
      <tbody>        
        <% cargos.forEach(cargo => { %>
        <tr>   
            <th>
              <%= cargo.id %>
            </th>       
            <th>
              <%= cargo.nome %>              
            </th>            
            <th>
              <form action="/admin/cargo/delete" method="POST" class="center">
                <input type="hidden" name="id" value="<%= cargo.id %>">
                <% if (!(cargo.nome == "Conselheiro Fiscal")) { %>
                <a href="/admin/cargo/edit/<%= cargo.id %>" class="btn btn-sm btn-warning ">Editar</a>
                <button type="submit" class="btn btn-sm btn-danger ">Excluir</button>
                <%} else if ((cargo.nome == "Conselheiro Fiscal")) {%>
                  <a href="#" class="btn btn-sm btn-warning disabled">Editar</a>
                  <button type="button" class="btn btn-sm btn-danger  disabled">Excluir</button>
                <% } %>
              </form>              
            </th>
        <% }); %>
      </tr>
      </tbody>
      </table>
      <a href="/admin/cargo/new" class="btn btn-primary mb-2">Criar Cargo</a>
      <br>
      <table class="table striped mt-4">
        <% if (cargo_conselheiro){ %>
          <% cargo_conselheiro.forEach(nome_do_cargo => { %>
            <% if ((nome_do_cargo == "Conselheiro Fiscal")) %>
            <thead class="mt-2">Cargo Fixo <span class="text-capitalize text-monospace" style="font-size: 20px">(Habilitado no controle de Sessão)</span>
              <tr class="">
                <th>
                  ID
                </th>
                <th>
                  Nome
                </th>
                <th>
                  Ações
                </th>                
              </tr>              
            </thead>
            <tbody>
              <tr>
                <th>
                  <%= nome_do_cargo.id %>
                </th>
                <th>
                  <%= nome_do_cargo.nome %>
                </th>
                <th>
                  <a href="#" class="btn btn-sm btn-warning disabled">Editar</a>
                  <button type="button" class="btn btn-sm btn-danger  disabled">Excluir</button>  
                </th>
              </tr>
            </tbody>
          <% }); %>                  
        <% } %>
      </table>
      


    </div>
<%- include ('../../partials/footer.ejs') %>